.vscode/
node_modules/
Especificação.pdf
hooks/
platforms/
plugins/
www/
src/components/FooterIngressos.vue
src/components/HeaderIngressos.vue
src/pages/Ingresso.vue
src/pages/Ingressos.vue
src/pages/SearchIngressos.vue
src/pages/CategoryIngressos.vue
v8-compile-cache-0/
